.toggle {
  --size: 2rem;

  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  pointer-events: none;
}

.toggle::before,
.toggle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  color: var(--accent-primary);
  cursor: pointer;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:
    transform 300ms,
    clip-path 300ms;
}

.toggle::before {
  background: var(--accent-primary);
  transform: scale(0.75);
  box-shadow:
    /* the sun */
    inset 0 0 0 var(--size),
    calc(var(--size) * -0.65) 0 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.65) 0 0 calc(var(--size) * -0.4),
    0 calc(var(--size) * -0.65) 0 calc(var(--size) * -0.4),
    0 calc(var(--size) * 0.65) 0 calc(var(--size) * -0.4),
    calc(var(--size) * -0.45) calc(var(--size) * -0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.45) calc(var(--size) * 0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * -0.45) calc(var(--size) * 0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.45) calc(var(--size) * -0.45) 0 calc(var(--size) * -0.4);
}

.toggle::after {
  color: var(--accent-primary);
  transform: scale(1);
  box-shadow: /* the moon */ inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}

/* state 1: light mode / full sun */
.toggle[data-theme-mode="light"]::before {
  clip-path: polygon(50% -100%, 192% 42%, 42% 192%, -100% 50%); 
}
.toggle[data-theme-mode="light"]::after {
  clip-path: polygon(200% 50%, 200% 50%, 50% 200%, 50% 200%); 
}

/* state 2: dark mode / full moon */
.toggle[data-theme-mode="dark"]::before {
  clip-path: polygon(50% -100%, 50% -100%, -100% 50%, -100% 50%); 
}
.toggle[data-theme-mode="dark"]::after {
  clip-path: polygon(50% -100%, 192% 42%, 42% 192%, -100% 50%); 
}

/* state 3: system mode / sun and moon */
.toggle[data-theme-mode="system"]::before {
  clip-path: polygon(50% -100%, 121% -29%, -29% 121%, -100% 50%); 
}
.toggle[data-theme-mode="system"]::after {
  clip-path: polygon(129% -21%, 192% 42%, 42% 192%, -21% 129%); 
}