.toggle {
  --size: 2rem;

  /* display: block; */
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  color: var(--accent-primary);
  cursor: pointer;
  pointer-events: none;
  transform: scale(0.75);
  transition:
    box-shadow 300ms,
    transform 300ms;
  box-shadow:
    /* the sun */
    inset 0 0 0 var(--size),
    calc(var(--size) * -0.65) 0 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.65) 0 0 calc(var(--size) * -0.4),
    0 calc(var(--size) * -0.65) 0 calc(var(--size) * -0.4),
    0 calc(var(--size) * 0.65) 0 calc(var(--size) * -0.4),
    calc(var(--size) * -0.45) calc(var(--size) * -0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.45) calc(var(--size) * 0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * -0.45) calc(var(--size) * 0.45) 0 calc(var(--size) * -0.4),
    calc(var(--size) * 0.45) calc(var(--size) * -0.45) 0 calc(var(--size) * -0.4);
}

:global(html[data-theme="dark"]) .toggle{
  transform: scale(1);
  box-shadow: /* the moon */ inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}
